:root {
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-s: 0.75rem;
  --spacing-m: 1rem;
  --spacing-l: 1.25rem;
  --spacing-xl: 1.5rem;
  --spacing-xxl-2: 2rem;
  --spacing-xxl-6: 3rem;

  --font-family-base: "Graphik", "PingFang TC", "Noto Sans TC", "sans-serif";
  --font-family-italic: "Graphik Italic", "PingFang TC", "Noto Sans TC",
    "sans-serif";
}

body {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
